{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Ajouter un ingredient{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-6 pt-5">Page d' ajout pour un ingredient</h1>
        <div style="max-width:350px">
            {{ form_start(form) }}
                {% include 'partial/_form.html.twig' %}
                <button type="submit" class="btn btn-primary mt-2 form-control p-4">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}